*.deb
*.build
*.buildinfo
*.changes
*.dsc
*.tar.*
*.orig.tar.*
*.substvars
*.log
.depcache/
.debhelper/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/keyswap/
debian/tmp/
__pycache__/
*.pyc
